.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.archiexpo.com/images_ae/photo-mg/190790-17509412.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .register-form {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .register-form h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }
  .form-box .toggle-link {
    color: #555;
    cursor: pointer;
    text-decoration: none;
  }
  
  .form-box .toggle-link:hover {
    text-decoration: underline;
  }
  .register-form p {
    margin-bottom: 30px;
    color: #777;
  }
  
  .register-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #b2ea70;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-form p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .register-form a {
    color: #555;
    text-decoration: none;
  }
  
  .register-form a:hover {
    text-decoration: underline;
  }
  